body {
	padding-top: 50px;
	padding-bottom: 0;
	border-top: 1px solid orange;
/* 	border-bottom: 1px solid orange; */
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.footer {
    color: #999;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3, .h3, h4, .h4 {
	margin: 2px 0 5px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.sm {
	margin-bottom: 20px;
}

.sm img {
	width: 100%;
	border: 1px solid #bbb;
/* 	border-bottom: 2px solid orange;	 */
}

.sm-old {
	margin-bottom: 20px;
}

.sm-old img {
	width: 100%;
	border: 1px solid #bbb;
}

.lg {
	margin-bottom: 0;
	padding-top: 50px;
}

.lg:first-child {
	padding-top: 0;
}

.lg:last-child {
	margin-bottom: 30px;
}

.lg img {
	width: 100%;
	border: 1px solid #bbb;
/* 	border-bottom: 2px solid orange;	 */
}

.md-grid {
    padding-top: 50px;
    margin-bottom: 20px;
}

.md {
	margin-bottom: 20px;
}

.md img {
	width: 100%;
	border: 1px solid #bbb;
/* 	border-bottom: 2px solid orange;	 */
}

.list-group {
	margin-top: 20px;
    margin-bottom: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item {
    padding: 5px 10px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid #eee;
/*     margin-bottom: 5px; */
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	color: orange;
    background-color: transparent;
    border-left: 1px solid orange;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #555;
    background-color: #fbfbfb;
}




